main {
  height: calc(100% - 192px);
}

main .container {
  padding: 20px 50px;
  height: 100%;
}

main .container .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

main .container .row .col-6 {
  text-align: center;
}

main .container .row .col-6 h1 {
  font-size: 40px;
  color: #4d869c;
  margin-bottom: 10px;
}

main .container .row .col-6 p {
  font-size: 20px;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

main .container .row .col-6 a.get-start {
  padding: 7px 10px;
  background-color: #7ab2b2;
  border-radius: 10px;
  color: white;
  transition: 0.3s linear all;
}

main .container .row .col-6 a.get-start:hover {
  background-color: #4d869c;
}

main .container .row .col-6 img {
  width: 400px;
}
